
@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Super.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikLCG';
    src: url('../assets/fonts/GraphikLCG-Thin.ttf') format('truetype');
}
